{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div>
    <h1 class="govuk-heading-xl">{{ title }}</h1>
</div>

<p class="govuk-body">{{ message }}</p>

<table class="govuk-table">

    <caption class="govuk-table__caption">{{ title }}</caption>

    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        {% for heading in headings %}
        <th class="govuk-table__header app-custom-class" scope="col">{{ heading }}</th>
        {% endfor %}
    </tr>
    </thead>

    <tbody class="govuk-table__body">
    {% for entry in entries %}
    <tr class="govuk-table__row">
        {% for item in entry %}
        <td class="govuk-table__cell">{{ item }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>

</table>

{% endblock %}
